#root{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.checkbox{
    appearance: none;
    width: 19px;
    height: 19px;
    background-color: #484f58;
    border:1px solid #000;
    border-radius: 3px;
}
.checkbox:checked{
    background-color: #343a3f;
}
.checkbox:checked::before{
    content: '';
    width: 19px;
    height: 19px;
    background-image: url(./check.svg);
    background-size:90%;
    background-repeat: no-repeat;
    display: block;
    padding: 5px;


}